// ==========================================================================
// $colors base
// ==========================================================================

$white:                       #FFFFFF;
$black:                       #000000;
$red:                         #A60C2A;
$blue:                        #0413A5;
$yellow:                      #F9AA29;
