// ==========================================================================
// $font-face
// ==========================================================================

@font-face {
  font-family: 'GeneralSans';
  src: url('../assets/fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('../assets/fonts/GeneralSans-Regular.woff') format('woff'),
       url('../assets/fonts/GeneralSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'GeneralSans';
  src: url('../assets/fonts/GeneralSans-Italic.woff2') format('woff2'),
       url('../assets/fonts/GeneralSans-Italic.woff') format('woff'),
       url('../assets/fonts/GeneralSans-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../assets/fonts/GeneralSans-Medium.woff2') format('woff2'),
       url('../assets/fonts/GeneralSans-Medium.woff') format('woff'),
       url('../assets/fonts/GeneralSans-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../assets/fonts/GeneralSans-Semibold.woff2') format('woff2'),
       url('../assets/fonts/GeneralSans-Semibold.woff') format('woff'),
       url('../assets/fonts/GeneralSans-Semibold.ttf') format('truetype');
       font-weight: bold;
       font-display: swap;
       font-style: normal;
}
