// ==========================================================================
// $footer
// ==========================================================================

footer {
  padding: 10% 0;
  background: {
    image: img('border-gray.png');
    position: bottom left;
    repeat: repeat-x;
    size: 50%;
  }

  @include media('>=tablet') {
    article {
      width: (100 / 3) * 1%;
    }
  }

  @include media('>=tablet-l', 'landscape') {
    padding: 5% 0;
    background-size: 15vw;
  }
}



// ==========================================================================
// $footer__left
// ==========================================================================

.footer__left {
  li {
    margin-right: 1em;
  }
}




// ==========================================================================
// $footer__middle
// ==========================================================================

.footer__middle {
  img {
    width: 5vw;
    max-width: rem(70);
    margin: 0 auto;
  }

  @include media('<tablet') {
    display: none;
  }
}




// ==========================================================================
// $footer__right
// ==========================================================================

.footer__right {
  text-align: right;
}
