// ==========================================================================
// $input base
// ==========================================================================

#{$all-text-inputs} {
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
}
